<div *ngIf="car">
    <h2>{{car.make}} {{car.name}} {{car.year.getFullYear()}}</h2>
        <div>ID: {{car.carID}}</div>
        <div>Fleet entry date: {{car.entryDate.getFullYear()}} - {{car.entryDate.getMonth()+1}} - {{car.entryDate.getDate()}}
        </div>
        <div>Make: {{car.make}}</div>
        <div>Name: {{car.name}}</div>
        <div>Manufacturing Year: {{car.year.getFullYear()}}</div>
        <div>Odometer: {{car.kmDriven}} km</div>
        <div>Condition: {{car.condition}}</div>    
    </div>