<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{{ url_for('car_list')}}" method="post">
            <!-- Input for car ID -->
            <label for="CarID">Car ID:</label> <br>
            <input type="number" name="CarID" min="0"> <br><br>
            <!-- Input for car entry date -->
            <label for="EntryDate">Entry date:</label> <br>
            <input type="date" name="EntryDate"> <br><br>
            <!-- Input for car km driven -->
            <label for="KmDriven">Km driven:</label> <br>
            <input type="number" name="KmDriven" min="0"> <br><br>
            <!-- Input for car release year -->
            <label for="ReleaseYear">Release year:</label> <br>
            <input type="number" name="ReleaseYear" min="1950"> <br><br>
            <!-- Input for car condition -->
            <label for="CarCondition">Car condition:</label> <br>
            <select name="CarCondition">
                <option value="new">New</option>
                <option value="slightly used">Slightly used</option>
                <option value="used">Used</option>
                <option value="old">Old</option>
            </select> <br><br>
            <!-- Input for car price per km -->
            <label for="PriceKm">Price per km:</label> <br>
            <input type="number" name="PriceKm" min="0"> <br><br>
            <input type="submit" value="Add car"> <br>
        </form>
    </div>
</body>
</html>