<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for response in responses %}
    {% set carID = response["id"] %}
    <ul>
        <li>
            {{carID}} - 
            {{response["entrydate"]}} - 
            {{response["kmdriven"]}} - 
            {{response["releaseyear"]}} - 
            {{response["condition"]}} - 
            {{response["pricekm"]}}
            <form action="{{ url_for('car_list') }}" method="delete">
                <input type="hidden" name="DeleteID" value={{carID}}>
                <input type="submit" value="Remove car">
            </form>
        </li>
    </ul>
    {% endfor %}
    <a href="{{ url_for('add_car_form') }}" >Add car...</a>
</body>
</html>