<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register new employee account</h1>
    <form action="{{url_for('register')}}" method="post">
        <input type="hidden" value="0" name ="id">
        <label for="fullname">Full name: </label> <br>
        <input type="text" required name="fullname"> <br><br>
        <label for="password">Password: </label><br>
        <input type="text" required name="password"> <br><br>
        <label for="position">Position: </label> <br>
        <select name="position">
            <option value="Staff">Staff</option>
            <option value="Finance">Finance</option>
            <option value="Manager">Manager</option>
        </select> <br> <br>
        <label for="email">Email: </label> <br>
        <input type="email" name="email">
        <input type="submit" value="Register">
    </form>
</body>
</html>